:root {
    --primary: #1137b3cd;
    --secondary: #406d59;
    --accent: #d78b2d;
    --background: aliceblue;
}
.container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 285px;
    position:relative;
    z-index: 0;
}
/* ===========top Side============= */
.left_about {
    display: block;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding-left: 20px;
}

#about {
    background-color: var(--background)
}

.p {
    color: #45484a;
    width: 300px;
    font-size: 10px;
    padding: 5px;
    margin: 10px;
}

.about {
    font-size: 30px;
    margin-bottom: 20px;
    color: #021d77cd;
}

.container img {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 6%;

}

/* ==========Bottom=============== */
.right_about {
    background-color: #86c0ed;

    height: 50vh;
}
#responsive {
    display: block;
    width: 90%;
    height: 450px;
    margin: 20px auto;
    /* border: 1px solid red; */
}
#node {
    margin-top: 10px;
    height: 160px;
    width: 350px;
}
.p_about {
    padding: 10px;
    width: 200px;
    font-size: 10px;
    margin: 5px;
    color: #45484a;
    transform: rotate(180deg)
}
/* ===========Popups=============== */
.popup_flex {
    display: flex;
    align-items: center;

}
#popup1,
#popup2,
#popup3,
#popup4 {
    border-radius: 5px;
    background-color: #AAD3F2;
    position: relative;
    /* overflow: hidden; */
    display: none;
    


}

.rock:hover+#popup1,
.dive:hover+#popup2,
.rocket:hover+#popup3,
.laptop:hover+#popup4 {
    cursor: pointer;
    display: block;
    animation: hover_move 1s ease;
    transform: rotate(180deg);
    width: 200px;
    height: 70px;
}

.rock,
.dive,
.rocket,
.laptop {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
/* ==================================== */
.rock {
    /* border: 1px solid red; */
    top: -148px;
    left: 18px;
}

#popup1 {
    top: 50px;
    left: 40px;
   
}

/* ================================== */
.dive {
    top: -83px;
    left: 43px;
    /* border: 1px solid rgb(0, 17, 255); */

}

#popup2 {
    top: 50px;
    left: 3px;
    
}

/* ================================== */
.rocket {
    top: -48px;
    left: 68px;
        /* border: 1px solid rgb(255, 0, 221); */

}

#popup3 {
    top: 50px;
    left: -34px;
}

/* ================================== */

.laptop {
    top: -83px;
    left: 93px;
    /* border: 1px solid rgb(251, 255, 0); */

}

#popup4 {
    top: 50px;
    left: -73px;
}

#resume {
    width: 54px;
    height: 54px;
    display: block;
    margin-top: -190px;
    margin-right: 40px;
    float: right;
    font-size: 6px;
    text-align: center;
    /* border: 1px solid red; */
    text-decoration: none;
    color: #45484a;
}




/* ================================== */
@keyframes hover_move {
    0% {
        height: 0px;
    }

    100% {
        height: 70px;
    }

}
/* ================================== */
/* ================================== */
/* ================================== */


@media only screen and (min-width: 900px) {
.container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 298px;
}
/* ==========Right side=============== */

.right_about {
    background-color: #86c0ed;
    width: 60vw;
    height: 100vh;
}
#responsive {
    display: block;
    width: 700px;
    height: 450px;
    margin: 20px auto;
    /* border: 1px solid red; */
}
#node {
    display: block;
    margin: 175px auto;
    height: 250px;
    width: 700px;
    /* border: 1px solid blue; */
}
.p_about {
    padding: 20px;
    width: 400px;
    height: 120px;
    font-size: 16px;
    /* margin-top: -10px; */
    word-spacing: 2px;
    line-height: 22px;
    font-weight: 300;

}
.popup_flex {
    display: flex;
    align-items: center;

}
/* ==================================== */

.rock,
.dive,
.rocket,
.laptop {
    padding: 48px 60px;

}

.rock {
    top: -410px;
    left: 20px;
    /* border: 5px solid pink; */

}

.dive {
    top: -300px;
    left: 65px;
    /* border: 5px solid rgb(200, 255, 192); */

}

.rocket {
    top: -410px;
    left: 110px;
    /* border: 5px solid rgb(33, 82, 218); */

}

.laptop {
    /* border: 5px solid red; */
    top: -300px;
    left: 160px;

}

/* =================================== */
#popup1,
#popup2,
#popup3,
#popup4 {
    width: 400px;
    height: 120px;
    top: -50px;
    /* border: 1px solid red; */
    /* overflow-y: hidden; */

}

#popup1 {
    left: 30px;
}

#popup2 {
    left: -100px;
}

#popup3 {
    left: -230px;
}

#popup4 {
    left: -360px;
}

#resume {
    width: 84px;
    height: 84px;
    display: block;
    margin-right: 150px;
    float: right;
    font-size: 10px;
    /* border: 1px solid red; */
    text-decoration: none;
    color: #45484a;
}

/* ===========Left Side============= */

.left_about {
    display: block;
    width: 40vw;
    height: auto;
    /* margin: 0px 50px 10px 50px; */
}
/* .text_container h1 {
    font-size: 30px;
} */
.about {
    margin: 90px 0 50px 50px;
}
.p {
    width: 400px;
    font-size: 16px;
    margin: 10px 0 0 50px;
    word-spacing: 2px;
    line-height: 22px;
    font-weight: 300;
}

.about {
    font-size: 30px;
    margin-bottom: 20px;
}

@keyframes hover_move {
    0% {
        height: 0px;
    }

    100% {
        height: 120px;
    }

}
/* ================================== */

}




