:root {
    --primary: #1137b3cd;
    --secondary: #406d59;
    --accent: #d78b2d;
    --background: aliceblue;
}
.container {
    position:relative;
    z-index: 0;
    margin-top: 265px;
}
#about {
    background-color:var(--background)
}
.container h1 {
    
    padding: 4em 0 2em 0;
    text-align: center;
}
#node {
    margin: -60px 0 0 10px;
    height: 320px;
    width: 165px;
}

.text_container {
    display: block;
    width: 90%;
    height: 300px;
    margin: 20px auto;
}

.p {
    color: #45484a;
    width: 300px;
    font-size: 10px;
    margin: 10px;
}
.about {
    font-size: 30px;
    margin-bottom: 20px;
    color: #021d77cd;
}
.container img {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 6%;

}

.p_about {
    padding: 7px;
    width: 180px;
    font-size: 10px;
    margin: 5px;    
    color: #45484a;
}
/* ==================================== */
#popup1, 
#popup2, 
#popup3, 
#popup4 {
    border-radius: 5px;
    background-color: #86c0ed;
    position: absolute;
    overflow: hidden;
    display: none;

}
.rock:hover+#popup1, 
.dive:hover+#popup2,
.rocket:hover+#popup3,
.laptop:hover+#popup4
 {
    cursor: pointer;
    display: block;
    animation: hover_move 1s ease;
}
.rock, .dive, .rocket, .laptop {
    position: absolute;
}
/* ==================================== */
.rock {
    /* border: 1px solid red; */
    top: 188px;
    left: 33px;
    width: 180px;
    height: 60px;
    
}

/* .rock:hover + #popup1 {
    cursor: pointer;
    display: block;
    animation: hover_move 1s ease;
} */
#popup1 {   
    top: 165px;
    left: 143px;
    width: 180px;
    height: 90px;
}
/* ================================== */
.dive {
    top: 266px;
    left: 93px;
    width: 75px;
    height: 60px;
}

#popup2 {
    top: 270px;
    left: 183px;
    width: 180px;
    height: 45px;
}
/* ================================== */
.rocket {
    top: 345px;
    left: 33px;
    width: 75px;
    height: 60px;
}

#popup3 {
    top: 345px;
    left: 143px;
    width: 180px;
    height: 55px;
}
/* ================================== */

.laptop {
    /* border: 1px solid red; */
    top: 400px;
    left: 93px;
    width: 75px;
    height: 60px;
}
#popup4 {
    top: 428px;
    left: 183px;
    width: 180px;
    height: 45px;
}
/* ================================== */
@keyframes hover_move {
    0% {
        width: 0px;
    }

    100% {
        width: 180px;
    }

}
/* ================================== */
/* ================================== */
/* ================================== */


@media only screen and (min-width: 900px) {

.container h1 {
    font-size: 36px;
}
#node {
    margin: 10px 0 0 150px;
    height: 400px;
    width: 190px;
}

.text_container {
    display: block;
    width: 50%;
    height: 500px;
    margin: -380px 150px 10px 40%;
}

.p {
    padding: 10px;
    width: 600px;
    font-size: 16px;
    margin: 10px;
    word-spacing: 2px;
}

.about {
    font-size: 30px;
    margin-bottom: 20px;
}

.p_about {
    padding: 7px;
    width: 250px;
    font-size: 12px;
    margin: 2px;
}


/* ==================================== */
.rock {
    top: 305px;
    left: 170px;
    width: 85px;
    height: 70px;
}

#popup1 {
    top: 299px;
    left: 280px;
    width: 250px;
    height: 87px;
    
}

/* ================================== */
.dive {
    top: 403px;
    left: 233px;
    width: 85px;
    height: 70px;
}

#popup2 {
    top: 415px;
    left: 338px;
    width: 250px;
    height: 45px;
}

/* ================================== */
.rocket {
    top: 500px;
    left: 170px;
    width: 85px;
    height: 70px;

}

#popup3 {
    top: 509px;
    left: 280px;
    width: 250px;
    height: 55px;
}

/* ================================== */

.laptop {
    /* border: 1px solid red; */
    top: 597px;
    left: 233px;
    width: 85px;
    height: 70px;

}

#popup4 {
    top: 609px;
    left: 338px;
    width: 250px;
    height: 45px;
}
@keyframes hover_move {
    0% {
        width: 0px;
    }

    100% {
        width: 250px;
    }

}
/* ================================== */

}




