:root {
    --primary: #1137b3cd;
    --secondary: #406d59;
    --accent: #d78b2d;
    --background: aliceblue;
}
.container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 285px;
    position:relative;
    z-index: 0;
}
/* ===========top Side============= */
.left_about {
    display: block;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding-left: 20px;
}

#about {
    background-color: var(--background)
}

.p {
    color: #45484a;
    width: 300px;
    font-size: 10px;
    padding: 5px;
    margin: 10px;
}

.about {
    font-size: 30px;
    margin-bottom: 20px;
    color: #021d77cd;
}

.container img {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 6%;

}

/* ==========Bottom=============== */
.right_about {
    background-color: #86c0ed;

    height: 50vh;
}
#responsive {
    display: block;
    width: 90%;
    height: 450px;
    margin: 20px auto;
    /* border: 1px solid red; */
}
#node {
    margin-top: 10px;
    height: 160px;
    width: 350px;
}
.p_about {
    position: relative;

    /* width: 200px; */
    font-size: 10px;
    margin: 10px;
    color: #45484a;
    /* transform: rotate(180deg); */
    left: -20px;
    top: -5px;


    
}
/* ===========Popups=============== */
.popup_flex {
    display: flex;
    align-items: center;
    background-color: #AAD3F2;
    margin: -140px auto 0 auto;
    width: 600px;
    height: 180px;
    border-radius: 10px;
    

}
#popup1,
#popup2,
#popup3,
#popup4 {
    border-radius: 5px;
    /* background-color: #AAD3F2; */
    position: relative;
    /* overflow: hidden; */
    display: none;
    /* width: 42rem;
    height: 16rem;
    border: 1px solid red; */


}

.rock:hover+#popup1,
.dive:hover+#popup2,
.rocket:hover+#popup3,
.laptop:hover+#popup4 {
    cursor: pointer;
    display: block;
    animation: hover_move 3s ease;
    /* transform: rotate(180deg); */
    width: 400px;
    height: 125px;
}

.rock,
.dive,
.rocket,
.laptop {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
/* ==================================== */
.rock {
    /* border: 1px solid red; */
    top: -148px;
    left: 18px;
}

#popup1 {
    top: 50px;
    left: 40px;
   
}

/* ================================== */
.dive {
    top: -83px;
    left: 43px;
    /* border: 1px solid rgb(0, 17, 255); */

}

#popup2 {
    top: 50px;
    left: 3px;
    
}

/* ================================== */
.rocket {
    top: -148px;
    left: 68px;
        /* border: 1px solid rgb(255, 0, 221); */

}

#popup3 {
    top: 50px;
    left: -34px;
}

/* ================================== */

.laptop {
    top: -83px;
    left: 93px;
    /* border: 1px solid rgb(251, 255, 0); */

}

#popup4 {
    top: 50px;
    left: -73px;
}

#resume {
    width: 54px;
    height: 54px;
    display: block;
    margin-top: 40px;
    float: right;
    font-size: 6px;
    text-align: center;
    text-decoration: none;
    color: #45484a;
}




/* ================================== */
@keyframes hover_move {
    0% {
        height: 0px;
    }

    100% {
        height: 70px;
    }

}
/* ================================== */
/* ================================== */
/* ================================== */


@media only screen and (min-width: 900px) {
.container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 298px;
}
/* ==========Right side=============== */

.right_about {
    background-color: #86c0ed;
    width: 60vw;
    height: 100vh;
}
#responsive {
    display: block;
    width: 700px;
    height: 450px;
    margin: 20px auto;
    /* border: 1px solid red; */
}
#node {
    display: block;
    margin: 175px auto;
    height: 270px;
    width: 700px;
    /* border: 1px solid blue; */
}
.p_about {
    padding: 20px;
    width: 400px;
    height: 120px;
    font-size: 16px;
    /* margin-top: -10px; */
    word-spacing: 2px;
    line-height: 22px;
    font-weight: 300;
    overflow: hidden;

    

}
.popup_flex {
    display: flex;
    align-items: center;

}
/* ==================================== */

.rock,
.dive,
.rocket,
.laptop {
    width: 80px;
    height: 90px ;
    padding: 55px 60px;
        /* border: 1px solid red; */


}

.rock {
    top: -318px;
    left: -26px;
    /* border: 5px solid pink; */

}
/* .rockIcon {
    background-image: url(../imagesAbout/Balance_highlighted.png);
    
    
    background-size:160%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    border-radius: 10px;
} */
/* .rockIcon:hover {
    opacity: 100%;
    transition: transform 300ms ease-in-out;
} */
.dive {
    top: -205px;
    left: 30px;
    /* border: 5px solid rgb(200, 255, 192); */

}

.rocket {
    top: -318px;
    left: 82px;
    /* border: 5px solid rgb(33, 82, 218); */

}

.laptop {
    /* border: 5px solid red; */
    top: -205px;
    left: 136px;

}

/* =================================== */
#popup1,
#popup2,
#popup3,
#popup4 {
    /* width: 600px;
    height: 120px; */
    top: -10px;
    /* border: 1px solid red; */
    /* overflow-y: hidden; */

}

#popup1 {
    left: 0px;
}

#popup2 {
    left: -130px;
}

#popup3 {
    left: -260px;
}

#popup4 {
    left: -390px;
}

#resume {
    width: 84px;
    height: 84px;
    display: block;
    margin-right: 150px;
    float: right;
    font-size: 10px;
    /* border: 1px solid red; */
    text-decoration: none;
    color: #45484a;
}

/* ===========Left Side============= */

.left_about {
    display: block;
    width: 40vw;
    height: auto;
    /* margin: 0px 50px 10px 50px; */
}
/* .text_container h1 {
    font-size: 30px;
} */
.about {
    margin: 6rem 0 5rem 12rem;
}
.p {
    width: 500px;
    font-size: 18px;
    margin: 5px 0 0 50px;
    word-spacing: 1px;
    line-height: 1.5rem;
    font-weight: 300;
}

.about {
    font-size: 30px;
    margin-bottom: 20px;
}

@keyframes hover_move {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}

/* ================================== */

}




