.container {
    /* padding: 50px; */
    /* height: 100vh; */
    /* text-align: center; */
    position:relative;
    z-index: -2;
    margin-top: 330px;

}
#about {
        background-color:aliceblue;

}
.container h1 {
    padding: 4em 0 2em 0;
    text-align: center;
}

.text {
    position: relative;
    top: 130px;
    margin: 3em;
}
.p {
    animation: pScroll 2s;
    margin: 10px auto 10px auto;
    max-width: 800px;
}
.about {
    font-size: 30px;
}
.container img {
    width: 100%;
    height: 100%;
    padding: 15px;
    /* margin-top: 6%; */

}

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100vw;
    max-width: 40em;
    margin-top: -20px;
    /* height: 20em; */
    /* border: solid 3px red; */
}

.aboutIconMe {
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 180px ;
    height: auto;
    top: 1em;
    margin: auto 1em;
    background: rgb(48, 107, 174);
    border-radius: 50%;
}

.popup {
    position: absolute;
    z-index: 1;
    padding: 5px;
    background-color: rgba(28, 28, 28, 0.892);
    border-radius: 5px;
    max-width: 60%;
    font-size: 12px;
    display: none;
    color: ghostwhite;
    text-align: center;
    margin-right: 10px;
}
.speech-bubble {
    /* position: relative; */
    font-family: sans-serif;
    line-height: 24px;
    background: #d78b2d;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.speech-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #d78b2d;
    border-right: 12px solid transparent;
    border-top: 12px solid #d78b2d;
    border-bottom: 20px solid transparent;
    bottom: -24px;
}
.speech-bubble-left:before {
    left: 32px;
}
.speech-bubble-right:before {
    left: 200px;
}
.popup1 {
    left: 30px;
    top: 160px;

}
.popup2 {
    left: 130px;
    top: 270px;

}
.popup3 {
    left: 225px;
    top: 95px;

}
.popup4 {
    left: 150px;
    top: 270px; 
}
.popup5 {
    left: 230px;
    top: 140px;
}
.aboutIconMe:hover+.popup {
    display: block;
}
.aboutIcon1:hover+.popup {
    display: block;
}
.aboutIcon2:hover+.popup {
    display: block;
}
.aboutIcon3:hover+.popup {
    display: block;
}
.aboutIcon4:hover+.popup {
    display: block;
}
.aboutIcon1 {
    position: relative;
    width: 20%;
    max-width: 180px;
    height: 30%;
    margin: 10px;
    top: 8em;

    background: rgba(48, 106, 174);
        border-radius: 50%;
}
.aboutIcon2 {
    position: relative;
    width: 20%;
    max-width: 180px;
    height: 30%;
    margin: 10px;
    top: 1em;

    background: rgba(48, 106, 174);
    border-radius: 50%;
}
.aboutIcon3 {
    position: relative;
    width: 20%;
    max-width: 180px;
    height: 30%;
    margin: 10px;
    top: 8em;

    background: rgba(48, 106, 174);
    border-radius: 50%;
}
.aboutIcon4 {
    position: relative;
    width: 21%;
    max-width: 180px;
    height: 30%;
    margin: 10px;
    top: 1em;

    background: rgba(48, 106, 174);
    border-radius: 50%;
}
.aboutIcon4 img{
    width: 100%;
    height: auto;
    padding-top: 25%;
}

.line1{
position: relative;
width: 100%;
height: 0px;
left: 60%;
top: 1em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(45deg);
}
.line2 {
position: relative;
width: 100%;
height: 0px;
left: 70%;
top: -6em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(-45deg);
}
.line3 {
position: relative;
width: 100%;
height: 0px;
left: 60%;
top: 1em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(45deg);
}
.line4 {
position: relative;
width: 110%;
height: 0px;
left: 60%;
top: -6em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(-45deg);
}
.line5 {
position: relative;
width: 100%;
height: 0px;
left: 70%;
top: 5em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(36deg);
}
.line6 {
position: relative;
width: 28.46px;
height: 0px;
left: 282.4px;
top: 589px;

border: 1px solid #000000;
transform: rotate(161.57deg);
}
.line7 {
position: absolute;
width: 24px;
height: 0px;
left: 307.5px;
top: 589px;

border: 1px solid #000000;
transform: rotate(-156.25deg);
}
@media only screen and (min-width: 1024px) {
.container {
    margin-top: 288px;
    
}
.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    max-width: 40em;
    margin: -55px auto -40px auto;

    /* height: 20em; */
    /* border: solid 3px red; */
}
.about {
    margin-top: -20px;
}

    .popup {
    max-width: 30%;
}
.popup1 {
    left: 500px;
    top: 140px;
    /* display: none; */

}

.popup2 {
    left: 620px;
    top: 260px;
    /* display: none; */

}

.popup3 {
    left: 740px;
    top: 118px;
    /* display: none; */
}

.popup4 {
    left: 700px;
    top: 250px;
        /* display: none; */
}

.popup5 {
    left: 830px;
    top: 150px;
        /* display: none; */
}
.text {
    display: block;
    margin: 50px auto 5px auto;
    width: 80%;
}
.p {
    /* animation: pScroll 2s; */
    max-width: 600px;

}
}



@keyframes pScroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}