:root {
    --primary: #1137b3cd;
    --secondary: #406d59;
    --accent: #d78b2d;
    --background: aliceblue;
}
.container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 385px;
    position:relative;
    z-index: 0;
}
/* ===========top Side============= */
.left_about {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding-left: 20px;
}

#about {
    background-color: var(--background)
}

.p {
    color: #45484a;
    width: 320px;
    font-size: 12px;
    padding: 5px;
    margin: 10px;
}

.about {
    font-size: 30px;
    margin: -60px auto 10px auto;
    color: #021d77cd;

}

.container img {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-top: 6%;

}

/* ==========Bottom=============== */
.right_about {
    background-color: #86c0ed;
    height: 45vh;
}
#responsive {
    display: block;
    width: 90%;
    height: 450px;
    margin: 20px auto;
}
#node {
    margin-top: 10px;
    height: 160px;
    width: 350px;
}
.p_about {
    position: relative;
    font-size: 16px;
    margin: 10px auto;
    padding: 10px;
    color: #45484a;
    width: 300px;
    background-color: #AAD3F2;
    border-radius: 10px;



    
}
/* ===========Popups=============== */
.popup_flex {
    display: flex;
    align-items: center;
    margin: -60px auto 0 auto;
    /* width: 600px; */
    height: 180px;
    border-radius: 10px;
    

}
#popup1,
#popup2,
#popup3,
#popup4 {
    border-radius: 5px;
    position: relative;
    display: none;
}

.rock:hover+#popup1,
.dive:hover+#popup2,
.rocket:hover+#popup3,
.laptop:hover+#popup4 {
    cursor: pointer;
    display: block;
    /* animation: hover_move 2s ease; */
    width: 25rem;
    height: 7.8125rem;
}

.rock,
.dive,
.rocket,
.laptop {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;

}
/* ==================================== */
.rock {
    /* border: 1px solid red; */
    top: -148px;
    left: 18px;
}

#popup1 {
    top: 50px;
    left: 10px;
    display: none;
   
}

/* ================================== */
.dive {
    top: -83px;
    left: 43px;
    /* border: 1px solid rgb(0, 17, 255); */

}

#popup2 {
    top: 50px;
    left: 0px;
    display: none;
}

/* ================================== */
.rocket {
    top: -148px;
    left: 68px;
        /* border: 1px solid rgb(255, 0, 221); */

}

#popup3 {
    top: 50px;
    left: -5px;
    display: none;
}

/* ================================== */

.laptop {
    top: -83px;
    left: 93px;
    /* border: 1px solid rgb(251, 255, 0); */
    
}

#popup4 {
    top: 50px;
    left: -10px;
    display: none;
}

#resume {
    width: 54px;
    height: 54px;
    display: block;
    margin-top: 10px;
    float: right;
    font-size: 6px;
    text-align: center;
    text-decoration: none;
    color: #45484a;
}




/* ================================== */
@keyframes hover_move {
    0% {
        height: 0px;
    }

    100% {
        height: 70px;
    }

}
/* ================================== */
/* ================================== */
/* ================================== */


@media only screen and (min-width: 900px) {
.about {
    
    /* border: 1px solid red; */
    width: 11.25rem;
    font-size: 2.25rem;
    margin: 0 auto 1.25rem auto;
    
}
.container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 18.625rem;
}
/* ==========Right side=============== */

.right_about {
    background-color: #86c0ed;
    width: 60vw;
    height: 100vh;
}
#responsive {
    display: block;
    width: 700px;
    height: 450px;
    margin: 20px auto;
    /* border: 1px solid red; */
}
#node {
    display: block;
    margin: 175px auto;
    height: 270px;
    width: 700px;
    /* border: 1px solid blue; */
}
#p {
    
    font-size: 24px;
    padding-left: 5px;
    
}
.p_about {
    padding: 1.8rem;
    margin: 0 auto;
    width: 40rem;
    height: 12rem;
    font-size: 1.8rem;
    font-weight: 300;
    overflow: hidden;
}
.popup_flex {
    display: flex;
    align-items: center;

}
/* ==================================== */

.rock,
.dive,
.rocket,
.laptop {
    width: 80px;
    height: 90px ;
    padding: 55px 60px;

}

.rock {
    top: -400px;
    left: 15px;
}

.dive {
    top: -280px;
    left: 75px;

}

.rocket {
    top: -400px;
    left: 135px;

}

.laptop {
    top: -280px;
    left: 195px;

}

/* =================================== */
#popup1,
#popup2,
#popup3,
#popup4 {
    top: -0.625rem;
}

#popup1 {
    left: -8.125rem;
}

#popup2 {
    left: -15.625rem;
}

#popup3 {
    left: -23.125rem;
}

#popup4 {
    left: -30.625rem;
}

#resume {
    width: 5.25rem;
    height: 5.25rem;
    display: block;
    margin-right: 9.375rem;
    float: right;
    font-size: 0.625rem;
    text-decoration: none;
    color: #45484a;
}

/* ===========Left Side============= */

.left_about {
    display: block;
    width: 40vw;
    height: auto;
}
.about {
    margin: 6rem 0 5rem 12rem;
}
.p {
    width: 500px;
    font-size: 18px;
    margin: 5px 0 0 50px;
    word-spacing: 1px;
    line-height: 1.5rem;
    font-weight: 300;
}

.about {
    font-size: 30px;
    margin-bottom: 20px;
}

@keyframes hover_move {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}

/* ================================== */

}




