:root {
    --primary: #406d59;
    --secondary: #1137b3cd;
    --accent: #d78b2d;
}
.cards {
    padding: 4rem;
    background: #fff;
    height: 100vh;
}
#projects {
    background-color: aliceblue;
}

.h1 {
    text-align: center;
    padding: 1em 0 2em 0;
    font-size: 22px;
    margin-bottom: 30px;

}


.cardsItems {
margin: -50px;

}

.cardsItem {
    margin: 1.5rem 1rem;
    height: 500px;
    /* width: 380px; */
}

.cardsItemLink {
    display: block;
    margin: 0 auto;
    width: 290px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;

}
.cardsItemVid {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 340px;
    height: 290px;
    max-height: 100%;
    object-fit:cover;
    transition: all 0.2s linear;
    cursor: pointer;
}


.cardsItemVid:hover {
    transform: scale(1.1);
}

.cardsItemInfo {
    border-radius: 10px;
    margin-top: 20px;
    height: 70px;
    
    padding: 5px;
    text-align: center;
    background-color: #d78a2d;

}
.cards_h4 {
    
    color: white;
}
.cards_h5 {
    color: white;
    font-size: 12px;
    line-height: 24px; 
    margin-bottom: 10px;
}
.link_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

}
.app {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.954);
        border-radius: 25%;
        cursor: pointer;

}
.git_link {
    width: 60px;
    height: 60px;
}
.app_link {
    width: 60px;
    height: 60px;


}
.apps_link {
    border: 1px solid red;
    
    /* border-radius: 50%; */
}
@media only screen and (min-width: 1200px) {
    /* .contentBlogContainer {
        width: 84%;
    } */
    /* .cardsItemLink {
        width: 600px;
        height: 280px;
    } */
    
}



@media only screen and (min-width: 1024px) {
    /* .cardsItems {
        display: flex;
        flex-wrap: wrap;
    } */
    /* .cardsItem {
        width: 320px;
        height: 280px;
        margin: 1em;
                border: 1px solid orange;

    } */
     /* .cardsItemLink {
         width: 340px;
         height: 280px;
     } */
    /* .tesla_project {
       
        width: 600px;
        height: 280px;
        border: 1px solid orange;
    } */
    /* .tesla_vid {
        width: 400px;
        height: 230px;
    } */
    
}