.cards {
    padding: 4rem;
    background: #fff;
}
#projects {
    background-color: aliceblue;
}

.h1 {
    text-align: center;
    padding: 1em 0 2em 0;
    font-size: 30px;

}

.cardsContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* max-width: 1120px; */
    width: 100%;
    margin: 20px auto;
}

.cardsItems {
    margin-top: -60px;
    margin-bottom: 30px;
}

.cardsItem {
    display: flex;
    flex: 1;
    margin: 1.5rem 1rem;
    height: 300px;

}

.cardsItemLink {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 340px;
    box-shadow: 0 6px 20px rgba(28, 54, 103, 0.5);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    background-color: #318746;

}
.cardsItemVid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 340px;
    height: 80%;
    max-height: 100%;
    object-fit:cover;
    transition: all 0.2s linear;
    cursor: pointer;
}


.cardsItemVid:hover {
    transform: scale(1.05);
}

.cardsItemInfo {
    height: 48px;
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    bottom: 0;
}
.cards_h4 {
    
    color: white;
}
.cards_h5 {
    color: white;
    font-size: 12px;
    line-height: 24px; 
    margin-bottom: 10px;
}

@media only screen and (min-width: 1200px) {
    .contentBlogContainer {
        width: 84%;
    }
    .cardsItemLink {
        width: 400px;
        height: 280px;
    }
    
}

@media only screen and (min-width: 1024px) {
    .cardsItems {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1024px) {
    .cardsItem {
        width: 220px;
        height: 320px;
        margin: 1em;
    }
    .tesla_project {
        margin-top: -10px;
        width: 900px;
    }
    .tesla_vid {
        width: 600px;
        height: 280px;
        

    }
}