/* Contact.js */
.form {
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.673);
}

.form>h1 {
    margin-top: -10px;;
    padding-top: 70px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.form>input {
    padding: 20px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
    margin-bottom: 20px;
    border: 1px solid lightgray;
    /* border: none; */
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
    width: 60vw;
    max-width: 800px;
    display: block;
    margin: 15px auto;
    
}

.input:focus,
textarea:focus {
    border: 1px solid rgb(0, 0, 196);
   
}

.message {
    height: 150px;
    width: 60vw;
    max-width: 800px;
    min-height: 100px;
    display: block;
    margin: 15px auto;
}

.form>label {
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

#button {
    padding: 10px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    border-radius: 3px;
    background-color: #d78b2d;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    width: 20vw;
}

#button:hover {
    background-color: #318746;
    color: white;
}

@media only screen and (min-width: 1024px) {
.form {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.673);
}

.form>h1 {
    margin-top: -10px;
    ;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.form>input {
    padding: 20px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
    margin-bottom: 20px;
    border: 1px solid lightgray;
    /* border: none; */
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
    width: 30vw;
    max-width: 800px;
    display: block;
    margin: 15px auto;

}

.form>input:focus,
textarea:focus {
    border: 1px solid rgb(0, 0, 196);

}

.message {
    height: 150px;
    width: 30vw;
    max-width: 800px;
    min-height: 100px;
    display: block;
    margin: 15px auto;
}

.form>label {
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

.button {
    padding: 20px;
    border: none;
    background-color: rgb(2, 2, 110);
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    width: 20vw;
}

.button:hover {
    background-color: rgb(0, 0, 196);
}
}