.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 80px;
    width: 100vw;
    bottom: 0;
    background: linear-gradient(90deg, rgba(23, 62, 47, 0.749) 0%, rgba(24, 24, 152, 0.673) 100%);
}
.social {
    height: 60px;
    width: auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.954);
    margin: 0 50px 0 50px;
    border-radius: 25%;
    cursor: pointer;
}
.footerItem {
    list-style: none;
}
/* .footerImg {
    height: 60px;
    width: auto;
} */