video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    z-index: -3;
    position: fixed;
    top: 0;
   
}

.heroContainer {
    /* background: url('images-videos/headerVideo.mp4') center center/center no-repeat; */
    height: 112vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.255);
    position: relative;
    top: -400px;
     margin-top: 30vh;

}
.intro > h1 {
    color: white;
    font-size: 40px;

}
.intro {
    text-align: center;
    display: block;
    margin: 70px auto 20px auto;

}
.heroLink {
    margin-top: 30px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    background-color: transparent;
    transition: 0.5s;
}

.heroLink:hover {
    font-size: 24px;
    color: black;
    border: 1px solid white;
    background-color: white;
}



  @media screen and (max-width: 960px) {
    .intro > h1 {
        /* background: url('images-videos/headerVideo.mp4') center center/center no-repeat; */
        font-size: 30px;
        margin-top: 20px;

    }
    .intro {
        text-align: center;
        display: block;
        margin: 50px auto 15px auto;

    }
  }

  @media screen and (max-width: 768px) {
      .intro > h1 {
          /* background: url('images-videos/headerVideo.mp4') center center/center no-repeat; */
          font-size: 20px;
          margin-top: 10px;
      }
      .intro {
          text-align: center;
          display: block;
          margin: 30px auto 1px auto;

      }
  }