:root {
    --primary: #406d59;
    --secondary: #1137b3cd;
    --accent: #d78b2d;
}
.sky {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
   
}

.heroContainer {
    /* background: url('images-videos/headerVideo.mp4') center center/center no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.542);
    position: relative;
    /* top: -400px; */
     /* margin-top: 30vh; */

}
.intro>h2 {
    font-size: 1.625rem;
    margin-top: -7.5rem;
    color: white;
}
.intro>h2>h1 {
    color: #2b9437;
    font-size: 1.875rem;
    margin: 0.9375rem auto;
}
.intro > p {
    color: white;
    font-size: 0.75rem;
    margin: 1.875rem 0.9375rem;
}
.intro {
    text-align: center;
    display: block;
    margin: 2.5rem auto 0.625rem auto;

}

.heroLink {
    margin-top: 1.875rem;
    font-size: 1.25rem;
    color: white;
    border-radius: 0.3125rem;
    border: 0.0625rem solid white;
    padding: 0.625rem;
    background-color: transparent;
    transition: 0.5s;
}

.heroLink:hover {
    font-size: 1.375rem;
    color: #45484a;
    border: 0.0625rem solid white;
    background-color: white;
}



  @media screen and (min-width: 1024px) {
    .intro>h2
     {
        /* background: url('images-videos/headerVideo.mp4') center center/center no-repeat; */
        font-size: 30px;
        margin-top: 20px;
        color: white;
    }
    .intro>h2>h1 {
    color: #2b9437;
    }
    .intro {
        text-align: center;
        display: block;
        margin: 50px auto 15px auto;

    }
    .intro>p {
        color: white;
        font-size: 16px;
        margin: 15px 15px;
        width: 500px;
    }
  }
