:root {
  --primary: #406d59;
  --secondary: #1137b3cd;
    --accent: #d78b2d;
}

.card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1rem auto;
    max-width: 40%;
    box-shadow: 0.50rem -0.5rem 0 var(--secondary),
    0 -0.5rem 0 var(--primary),
        -0.4rem -1rem 0 var(--accent);
    clip-path: circle(25%);
    animation: circle-grow 2000ms 450ms forwards;
    background-image: linear-gradient(to top right,
        var(--primary) 15%,
        transparent),
    radial-gradient(circle at bottom right,
        transparent 5%,
        var(--secondary) 15%,
        var(--secondary) 20%,
        transparent 10%,
        transparent 22%,
        var(--secondary) 20%,
        transparent 40%);
        float: left;
        margin-right: 5%;
        
        
}
.card:hover .cardImg{
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
    filter: grayscale(0);
}
.card::after {
    content: "";
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    background: linear-gradient(to bottom left,
            var(--accent) 15%,
            transparent);
    mix-blend-mode: multiply;
    clip-path: circle(20%);
    transition: clip-path 400ms ease-in-out;
   
    
}

.card:hover::after {
    clip-path: circle(50%);
}
.cardTitle {
    margin: 0 0 20px 0;
    grid-column: 1 / 5;
    grid-row: 2 / span 1;
    align-self: center;
    padding: 0.25em;
    position: relative;
    z-index: 1;
    font-size: 3vmin;
    text-align: center;
    text-transform: uppercase;
    color: ghostwhite;
    clip-path: inset(50% 50%);
    animation: heading-in 400ms 1000ms forwards;
}

.cardImg {
    max-width: 100%;
    display: block;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    align-self: center;
    clip-path: polygon(20% 8%,
        50% 2%,
        80% 50%,
        54% 90%,
        15% 65%);
    transition: clip-path 400ms ease-in-out;
    mix-blend-mode: multiply;
    filter: grayscale(1) contrast(1.5) brightness(0.9);
}


@keyframes circle-grow {
    to {
        clip-path: circle(100%);
    }
}

@keyframes heading-in {
    to {
        clip-path: inset(10%);
    }
}


@media screen and (min-width: 720px) {
    
    .card {
        max-width: 250px;
        right: 30vw;
        top: 180px;
    }
    .card:hover {
        clip-path: circle(100%);
    }
    
}


