
#tech {
    background-color: rgb(0, 16, 70);
}
.techContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: lightgray; */
    justify-content:center;
    padding: 4em 0 2em 0;
    margin-top: -40px;

}

.techContainer li {
    /* width: 64px; */
    margin: 10px 20px;
    list-style-type: none;  
    background-color: white;
    border-radius: 20%;
}
.tech_h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    color: white;
}
.icon_v1 {
    width: 44px;
    height: 44px;
}
.icon {
    width: 44px;
    height: 44px;
    

}
.pdf {
width: 80px;

float: left;
}
.float {
    position: relative;
    margin: 15px auto;
    width: 80vw;
    line-height: 20px;
}
.p_tag {
text-align: justify;
color: white;
font-size: 10px;
}
.cert {
    width: 100%;}
.modal_btn {
    display: block;
    color: white;
    margin: 10px auto;
    background-color: rgb(0, 16, 70);
    width: 75px;
    padding: 10px;
    font-size: 16px;
    outline:none;
    text-align: center;
    border-radius: 10px;
}
.modal {
    outline:none;
    margin-top: 75px;
}

@media only screen and (min-width: 1024px) {
.float {
    display: block;
    margin: 100px auto 0 auto;
    width: 80vw;
    line-height: 20px;
}
.modal {
    outline: none;
    width: 40vw;
    height: 80vh;
    display: block;
    margin: 75px auto;
}
}
