.techContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: lightgray; */
  justify-content:center;
   padding: 4em 0 2em 0;
  
}

.techContainer li {
    /* width: 64px; */
    margin: 30px 5%;
    list-style-type: none;
    

    
}
.tech_h1 {
  text-align: center;
  padding-top: 130px;
  font-size: 30px;
}
.icon {
    width: 64px;
    height: 64px;

}
/* .techSection {
  
    background-color: lightgray;
} */