.container {
    /* padding: 50px; */
    height: 100vh;
    /* text-align: center; */
    position:relative;
    z-index: -2;
    

}

.container h1 {
    padding: 4em 0 2em 0;
}


.pTop {
    display: block;
    margin: 15em auto 0 auto;
    max-width: 80vw;
}
.pBottom {
    display: block;
    margin: 0 auto 5em auto;
    max-width: 80vw;

}
.container img {
    width: 100%;
    height: 100%;
    padding: 15px;
    /* margin-top: 6%; */

}

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100vw;
    max-width: 50em;
    /* height: 20em; */
    margin: 10px auto;
    /* border: solid 3px red; */
}

.aboutIconMe {
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 180px ;
    height: auto;
    top: 1em;
    margin: auto 1em;
    background: rgb(48, 107, 174);
    border-radius: 50%;
}

.popup {
    position: absolute;
    z-index: 2;
    padding: 10px;
    background-color: rgba(28, 28, 28, 0.892);
    border-radius: 5px;
    max-width: 45%;
    font-size: 10px;
    display: none;
    color: ghostwhite;
    text-align: center;
}
.popup1 {
    left: 5%;
    top: 17%;
}
.popup2 {
    left: 10%;
    top: 44%;
   
}
.popup3 {
    left: 25%;
    top: 13.5%;
    
}
.popup4 {
    left: 45%;
    top: 44%;
}
.popup5 {
    left: 45%;
    top: 15.8%;
}
.aboutIconMe:hover+.popup {
    display: block;
}
.aboutIcon1:hover+.popup {
    display: block;
}
.aboutIcon2:hover+.popup {
    display: block;
}
.aboutIcon3:hover+.popup {
    display: block;
}
.aboutIcon4:hover+.popup {
    display: block;
}
.aboutIcon1 {
   position: relative;
   width: 20%;
   max-width: 180px;
   height: 30%;
   margin: 10px;
   top: 8em;

   background: rgba(48, 106, 174);
     border-radius: 50%;
}
.aboutIcon2 {
    position: relative;
    width: 20%;
    max-width: 180px;
    height: 30%;
    margin: 10px;
    top: 1em;

    background: rgba(48, 106, 174);
     border-radius: 50%;
}
.aboutIcon3 {
    position: relative;
    width: 20%;
    max-width: 180px;
    height: 30%;
    margin: 10px;
    top: 8em;

    background: rgba(48, 106, 174);
     border-radius: 50%;
}
.aboutIcon4 {
  position: relative;
  width: 21%;
  max-width: 180px;
  height: 30%;
  margin: 10px;
  top: 1em;

  background: rgba(48, 106, 174);
     border-radius: 50%;
}
.aboutIcon4 img{
    width: 100%;
    height: auto;
    padding-top: 25%;
}

.line1{
position: relative;
width: 100%;
height: 0px;
left: 60%;
top: 1em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(45deg);
}
.line2 {
position: relative;
position: relative;
width: 100%;
height: 0px;
left: 70%;
top: -6em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(-45deg);
}
.line3 {
position: relative;
width: 100%;
height: 0px;
left: 60%;
top: 1em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(45deg);
}
.line4 {
position: relative;
width: 110%;
height: 0px;
left: 60%;
top: -6em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(-45deg);
}
.line5 {
position: relative;
width: 100%;
height: 0px;
left: 70%;
top: 5em;
z-index: -1;

border: 1px solid #000000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
transform: rotate(36deg);
}
.line6 {
position: relative;
width: 28.46px;
height: 0px;
left: 282.4px;
top: 589px;

border: 1px solid #000000;
transform: rotate(161.57deg);
}
.line7 {
position: absolute;
width: 24px;
height: 0px;
left: 307.5px;
top: 589px;

border: 1px solid #000000;
transform: rotate(-156.25deg);
}
