* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono';
}
#root {
  position:relative;
  z-index: -3;
}
body {
   position:relative;
   z-index: -3;
}
#about,
#tech,
#contact {
  height: 100vh;
  width: 100vw;

}
#hero {
  height: 65vh;
}

#about {
  background-color: white;
}

#tech {
  background-color: ghostwhite;
}

#projects {
  background-color: rgba(205, 205, 205, 0.988);
  /* height: 0vh; */
}