@import 'config';


.about {
    padding: 6rem 0 2rem 0;
    background-color: $third-color;
    height: 130vh;


    &__bio {
        width: 90%;
        color: $primary-color;
        margin: 2rem auto 0 auto;
        padding: .3rem;
        display: none;
        font-size: .9rem;

        .text-secondary {
            padding-bottom: 3rem;
            text-align: center;

        }
    }

    strong {
        color: $text-color;
    }

    &__scroll {
        display: block;
        animation: transistionIn 2s;


    }

    .skills {
        width: 90vw;
        margin: 1rem auto;
        display: none;

        // display: grid;
        // grid-template-columns: 1fr;
        // grid-gap: 1rem;
        &__scroll {
            display: block;
            animation: transistionIn2 4s;
            display: flex;
            flex-direction: column;
        }

        &__set {
            padding: .5rem;
            margin: 1rem;

            h3 {
                margin: .3rem 0;
                text-align: center;
                font-size: 2rem;
                color: $text-color;
            }
        }
    }

    .social-icons {
        display: none;
        color: $secondary-color;
        margin: 2rem 3rem;
        font-size: 2rem;


        &__scroll {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            animation: transistionIn3 3s;
        }

        .resume img {
            height: 3.5rem;
            width: 3.5rem;
        }

        .resume img:hover {
            height: 3.6rem;
            width: 3.6rem;
        }

        .resume {
            font-size: 10px;
            color: $primary-color;
            text-decoration: none;
            text-align: center;
        }

        .resume:hover {
            color: $secondary-color;
        }


    }

    .fa-github {
        color: $primary-color;
    }

    .fa-linkedin {
        color: #0A66C2;
    }



}

@media screen and (min-width: 1060px) {
    .about {
        padding: 6rem 0 2rem 0;
        background-color: $third-color;
        height: 100vh;


        &__bio {
            width: 90%;
            text-align: center;

            // background: rgba(0, 0, 0, 0.517);
            // margin-bottom: .3rem;
            // padding: .3rem;
            .text-secondary {
                padding-bottom: 1rem;
            }
        }

        .jobs {
            width: 65vw;
            margin: 1rem auto 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1rem;

            &__job {
                background: lighten($primary-color, 10%);
                padding: .5rem;
                border-bottom: 5px solid $secondary-color;

                h2,
                h3 {
                    margin: .5rem 0;
                }

                h6 {
                    margin: .3rem 0;
                }
            }
        }

        .social-icons {
            display: flex;
            flex-direction: column;

            .resume img {
                height: 1.8rem;
                width: 2rem;
            }

            .resume p {
                font-size: 10px;
            }
        }


    }

}

// @media (min-width: $breakpoint-tablet) {
//     .about {

//         &__bio-image {
//         background: linear-gradient(to right,
//                 rgba($primary-color, .7),
//                 rgba($primary-color, .1)),
//             url('../img/6.jpg') center bottom;
//         background-size: 100% 180%;
//         background-repeat: no-repeat;
//         }
//     }
// }