@import 'config';

#projects {
    padding-top: 2rem;
    background: $third-color;
    height: 100vh;
}

.h_1 {
    text-align: center;
    padding: 2em 0 1em 0;
    font-size: 30px;
    margin-bottom: 20px;
    color: $text-color;

}

.cardItems {
    margin: 0 auto;
}

.card {
    width: 96vw;
    margin: 0 auto;
    

    .control-arrow,
    .control-next {
        background: rgba(7, 7, 7, 0.195) !important;
        height: 50%;
        width: 30px;
        border-radius: 10px;
        margin-top: 75px !important;

    }

    .control-arrow::before,
    .control-next::before {
        margin: auto 0 !important;
    }

    &__Item {
        // border: 2px solid red;
        margin: 0 auto;
        width: auto;
        // padding-bottom: 20px;
    }

    &__ItemLink {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 80vw;
        text-decoration: none;
        
    }

    &__mac {
    margin: 0 auto !important;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    // border: 2px solid red !important;
}

    &__Img{

        // display: block;
        position: absolute;
        left: 0;
        top: 9%;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 75% !important;
        min-width: 200px !important;
        max-width: 525px !important;
        height: 78%;
        
        min-height: 150px;
        max-height: 400px;
        // object-fit:cover;
        transition: all 0.2s linear;
        cursor: pointer;
        z-index: -3;
        // visibility: hidden;
        // border: 6px solid red;
        
    }
    // &__Img2 {
    //     margin-top:-20px;
    // }

    // &__vid2 {
    //     // visibility: hidden;
    //     margin-top: 3px;
    //     min-height: 150px;
    //     max-height: 400px;
    // }
    //  &__vid3 {
    //     //  visibility: hidden;
    //     object-fit: contain;
    //      margin-top: -103px;
    //      min-height: 120px;
    //      max-height: 400px;
    //  }
   

    &__scroll {
        visibility: visible;
        animation: transistionVid 3s;

    }

    &__ItemInfo {
        width: 60vw;
        max-width: 400px;
        border-radius: 10px;
        margin: 10px auto 0 auto;
        min-height: 70px;
        padding: 5px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.4);
        
    }

    &__h4 {
        font-size: clamp(1rem, 2vw, 1.2rem);
        color: $text-color;
        margin-top: 5px;
    }

    &__h5 {
        color: $text-color;
        font-size: clamp(0.65rem, 1.5vw, 1rem);
        
        line-height: 10px;
        margin: 5px;
    }
}



.link_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.icon__scroll {
    animation: transistionIn3 4s;
}

.app {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.954);
    border-radius: 25%;
    cursor: pointer;
}

.git_link,
.app_link {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.4);
    margin: 20px 0 40px 0;
}

.apps_link {
    padding-bottom: 40px;
}


@media only screen and (min-width: 1200px) {
    /* .contentBlogContainer {
        width: 84%;
    } */
    /* .cardsItemLink {
        width: 600px;
        height: 280px;
    } */

}



@media only screen and (min-width: 900px) {

    .mac {
        // max-width: 850px;
       
    }

    .h_1 {
        font-size: 3rem;
        margin-top: -40px;
        margin-bottom: -20px;
    }

    .card {
        width: 80vw;

        &__ItemLink {
            // width: 60vw;
        }

        &__ItemVid {
            // width: 75%;
            // max-width: 645px;
            // min-height: 190px;
            // max-height: 440px;

        }

        // &__vid2 {
        //     margin-top: 15px;
        //     margin-bottom: 18px;
        //     min-height: 420px;
        //     max-height: 400px;
        // }

        &__ItemInfo {
            max-width: 600px;           
        
        }


        &__h5 {
            line-height: 20px;
        }
    }



    .link_div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }

    .app {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.954);
        border-radius: 25%;
        cursor: pointer;
    }

    .git_link,
    .app_link {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.4);
        margin: 10px;
    }

    .apps_link {
        padding-bottom: 40px;
    }
}