@import 'config';

#projects {
    padding-top: 2rem;
    background: $third-color;
    height: 100vh;
}

.mac {
    width: 100%;
    max-width: 700px;
    margin-bottom: -76.5%;
    margin-top: -40px;

}

.h_1 {
    text-align: center;
    padding: 2em 0 1em 0;
    font-size: 30px;
    margin-bottom: 20px;
    color: $text-color;

}

.cardItems {
    margin: 0 auto;
}

.card {
    width: 96vw;
    margin: 0 auto;
    // border: 2px solid red;

    .control-arrow,
    .control-next {
        background: rgba(7, 7, 7, 0.195) !important;
    }

    &__Item {
        // border: 2px solid red;
        margin: 0 auto;
        width: auto;
        padding-bottom: 20px;
    }

    &__ItemLink {
        display: block;
        margin: 0 auto;
        width: 80vw;
        overflow: hidden;
        text-decoration: none;
    }



    &__ItemVid {

        // display: block;
        position: relative;
        margin: 0 auto;
        width: 74%;
        max-width: 680px;
        min-height: 175px;
        max-height: 400px;
        object-fit: cover;
        transition: all 0.2s linear;
        cursor: pointer;
        z-index: -3;

    }

    &__vid2 {
        margin-top: 12px;
        min-height: 150px;
        max-height: 400px;
    }

    &__scroll {
        animation: transistionVid 2s;

    }

    &__ItemInfo {
        width: 300px;
        border-radius: 10px;
        margin: 50px auto 0 auto;
        height: 70px;
        padding: 5px;
        text-align: center;
        background-color: rgba(53, 53, 55, 0.181);
        box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.4);
    }

    &__h4 {
        color: $text-color;
        margin-top: 5px;
    }

    &__h5 {
        color: $text-color;
        font-size: 12px;
        line-height: 24px;
        margin: 5px;
    }
}



.link_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.app {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.954);
    border-radius: 25%;
    cursor: pointer;
}

.git_link,
.app_link {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.4);
    margin: 20px;
}

.apps_link {
    padding-bottom: 40px;
}


@media only screen and (min-width: 1200px) {
    /* .contentBlogContainer {
        width: 84%;
    } */
    /* .cardsItemLink {
        width: 600px;
        height: 280px;
    } */

}



@media only screen and (min-width: 900px) {

    .mac {
        max-width: 875px;
        margin-bottom: -66.5%;
        margin-top: -190px;
    }

    .h_1 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .card {
        width: 80vw;

        &__ItemLink {
            width: 60vw;
        }

        &__ItemVid {
            width: 75%;
            max-width: 645px;
            min-height: 190px;
            max-height: 460px;

        }

        &__vid2 {
            margin-top: 24px;
            margin-bottom: 18px;
            min-height: 420px;
            max-height: 400px;
        }

        &__ItemInfo {
            width: 300px;
            border-radius: 10px;
            margin: 40px auto 0px auto;
            height: 70px;
            padding: 5px;
            text-align: center;
            background-color: rgba(53, 53, 55, 0.181);
            box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.4);
        }

        &__h4 {
            color: $text-color;
            margin-top: 5px;
        }

        &__h5 {
            color: $text-color;
            font-size: 12px;
            line-height: 24px;
            margin: 5px;
        }
    }



    .link_div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }

    .app {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.954);
        border-radius: 25%;
        cursor: pointer;
    }

    .git_link,
    .app_link {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.4);
        margin: 20px;
    }

    .apps_link {
        padding-bottom: 40px;
    }
}