$primary-color: #2f2f2f;
$secondary-color: #0cbfc8bc;
$third-color: rgba(246, 248, 254, 0.893);
$forth-color: rgba(22, 81, 35, 0.88);
$text-color: #253069;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@keyframes transistionIn {
    from {
        opacity: 0;
        transform: rotateX(-50deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes transistionVid {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}

@keyframes transistionIn2 {
    from {
        opacity: .2;
        transform: rotateY(80deg);
    }

    to {
        opacity: 1;
        transform: rotateY(0);
    }
}

@keyframes transistionIn3 {
    0% {
        opacity: 0;
        transform: translate(-400px, 0)
    }

    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}

@keyframes transistionIn4 {
    0% {
        opacity: 0;
        transform: translate(0, 900px)
    }

    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}

@keyframes transistionIn5 {
    from {
        opacity: 0;
        transform: rotateX(-50deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/* The typing effect */
@keyframes typing {
    0% {
        opacity: 0;
        width: 0;
    }

    10% {
        opacity: 1;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}