@import 'config';

#contact {
    background-color: $third-color;
    height: 90vh;
    margin: 50px auto;
    padding-top: 20px;
}

.contact_box>h1 {
    margin-top: 90px;
    text-align: center;
    color: $text-color;
    font-size: 24px;
}

.form {
    height: 55vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto 0 auto;
    border-radius: 10px;
    background-color: rgba(118, 208, 239, 0.606);
    box-shadow: 2px 2px 10px 2px rgba(28, 28, 28, 0.229);

}



.form>input {
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px 2px rgba(28, 28, 28, 0.229);
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    color: #45484a;
    outline: none;
    width: 300px;
    display: block;
    margin: 15px auto;

}

.input:focus,
textarea:focus {
    outline: none;
    width: 300px;
}

.message {
    width: 300px;
    padding: 30px;
    min-height: 100px;
    display: block;
    border-radius: 3px;
    margin: 5px auto;
    border: none;
    box-shadow: 2px 2px 10px 2px rgba(28, 28, 28, 0.229);

}

.form>#label {
    padding-bottom: 10px;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
}

#button {
    border: none;
    font-weight: 700;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 5px 0 $third-color;
    background-color: $text-color;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    width: 20vw;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

#button:hover {
    background-color: $third-color;
    box-shadow: 0 5px 0 $text-color;
    color: $text-color;
}

#button:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}

// #contact_icons {
//     display: flex;
//     justify-content: space-between;
//     margin: 20px;
// }

// .icon_contact {
//     height: 64px;
//     width: 64px;
//     margin: 22px;
//     background-color: aliceblue;
//     border-radius: 10px;
//     padding: 5px;

// }

/* ===================================== */
/* ===================================== */
/* ===================================== */

@media only screen and (min-width: 1024px) {


    .contact_box>h1 {
        font-size: 3rem;
    }

    .form {
        width: 50vw;
    }

    .form>input {
        padding: 20px;
        font-size: 1.2rem;
        width: 600px;
    }


    .message {
        width: 600px;
    }

    .form>#label {
        font-size: 1.4rem;
    }

    #button {
        width: 8rem;
    }

}