@import 'config';


.home {
    height: 100vh;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background:
        linear-gradient(to bottom,
            rgba($primary-color, 0.7),
            rgba($primary-color, 0.3)),
        url('../imagesAbout/2.jpg') left top;
    background-size: cover;

    &__text {
        margin-top: -5.5rem;
        // animation: transistionIn 2s;
        color: rgb(230, 230, 230);

        h2 {
            // opacity: 0;
            overflow: hidden;
            white-space: nowrap;
            margin: 0 auto;
            letter-spacing: .15em;
            width: 225px;
            animation: typing 5s steps(100, end),
        }
    }

    &__line {
        border-bottom: 2px solid set-text-color($primary-color);
        margin: -1rem auto 1rem auto;
        width: 25%;
    }

    &__link {
        margin: 1rem auto;
        font-size: 1.25rem;
        color: white;
        border-radius: 0.3125rem;
        border: 0.0625rem solid white;
        padding: 0.625rem;
        background-color: transparent;
        transition: 0.5s;
        width: 15rem;
    }

    &__link:hover {
        font-size: 1.29rem;
        color: #45484a;
        border: 0.0625rem solid white;
        background-color: white;
    }

    &__name {
        font-size: 4rem;
        padding-bottom: 1rem;
        overflow: hidden;

        white-space: nowrap;
        opacity: 0;
        margin: 0 auto 1rem auto;
        letter-spacing: .15em;
        animation: typing 4s 1s steps(100, end)forwards;

        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .home {
        height: 100vh;
        padding-top: 40vh;
        overflow: hidden;
        align-items: center;
        text-align: center;
        background:
            linear-gradient(to right,
                rgba($primary-color, 0.9),
                rgba($primary-color, 0.3)),
            url('../imagesAbout/1.jpg') right top;
        background-size: cover;
    }
}