@import 'config';

.myPic {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1rem auto;
    height: 100%;
    width: 25vw;
    min-width: 8rem;
    max-width:13rem;
    box-shadow: 0.50rem -0.5rem 0 #{$secondary-color},
    0 -0.5rem 0 #{$primary-color},
    -0.4rem -1rem 0 #{$forth-color};
    clip-path: circle(25%);
    animation: circle-grow 2000ms 450ms forwards;
    background-image: linear-gradient(to top right,
        #{$primary-color} 15%,
        transparent),
    radial-gradient(circle at bottom right,
        transparent 5%,
        #{$forth-color} 5%,
        #{$forth-color} 20%,
        transparent 10%,
        transparent 22%,
        #{$forth-color} 20%,
        transparent 40%);
    float: right;
    margin: 1.25rem 1.5rem;

    &__Img {
        height: 100%;
        width: 25vw;
        min-width: 8rem;
        max-width: 13rem;
        display: block;
        grid-column: 1 / -1;
        grid-row: 1 / 3;
        align-self: center;
        clip-path: polygon(20% 8%,
                50% 2%,
                80% 50%,
                54% 90%,
                15% 65%);
        transition: clip-path 400ms ease-in-out;
        mix-blend-mode: multiply;
        filter: grayscale(.5) contrast(1.5) brightness(1);
    }

    &__title {
        margin: 0 0 20px 0;
        grid-column: 1 / 5;
        grid-row: 2 / span 1;
        align-self: center;
        padding: 0.25em;
        position: relative;
        z-index: 1;
        font-size: clamp(.9rem, 2.1vw, 1.3rem);
        text-align: center;
        text-transform: uppercase;
        color: ghostwhite;
        clip-path: inset(50% 50%);
        animation: heading-in 400ms 1000ms forwards;
    }

}

.myPic:hover .myPic__Img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
    filter: grayscale(0);
}

.myPic::after {
    content: "";
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    background: linear-gradient(to bottom left,
        #{$forth-color} 15%,
        transparent);
    mix-blend-mode: multiply;
    clip-path: circle(10%);
    transition: clip-path 400ms ease-in-out;

}

.myPic:hover::after {
    clip-path: circle(50%);
}


@keyframes circle-grow {
    to {
        clip-path: circle(100%);
    }
}

@keyframes heading-in {
    to {
        clip-path: inset(10%);
    }
}


@media screen and (min-width: 760px) {

    .myPic {
        // height: 25rem;
        // width: 20.3125rem;
        right: 30vw;
        top: 180px;
        margin: 1.25rem 2rem;

        &__Img {
            // height: 400px;
            // width: 325px;
        }

        // &__title {
        //     font-size: 1.6rem;
        // }
    }

    .myPic:hover {
        clip-path: circle(100%);
    }
}