@import 'config';


.nav {
    height: 100px;
    width: 100%;
    line-height: 65px;
    text-align: center;
    position: fixed;
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.scroll {
    height: 70px;
    padding-top: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(21, 21, 21, .65);

}


.navLogo {
    display: flex;
    float: left;
    // width: auto;
    font-family: iceland;
    align-items: center;
    margin-left: 3rem;
    cursor: pointer;
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #0bb2bb, #ffffff);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    
    }
.navLogo:hover {
        background-image: linear-gradient(45deg, #ffffff, #0bb2bb);
    }


.scrollLogo {
    position: relative;
}

.navImg:hover {
    cursor: pointer;
}





.nav div.main_list ul {
    height: 70px;
    /* width: 100%; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

.nav div.main_list ul li {

    width: auto;
    height: 70px;
    padding-right: 3rem;
    cursor: pointer;

}

.nav div.main_list ul li .li {
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 70px;
    font-size: clamp(1rem, 2vw, 1.8rem);

}

.nav div.main_list ul li .li:hover {
    color: $secondary-color;
}

.navTrigger {
    display: none;
}


@media screen and (min-width: 960px) and (max-width: 1100px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:960px) {
    .nav .navLogo {
        margin-left: 20px;
       
    }



    .nav div.main_list {
        width: 100%;
        height: 0;
        display: none;

    }

    .nav div.show_list {
        height: auto;
        display: block;
    }

    .nav div.main_list ul {

        flex-direction: column;
        margin-top: 75px;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
    }

    .close {
        display: none;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    /* Animation */
    /* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
    .navTrigger {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 30px;
        top: 0px;
        bottom: 0;
    }

    .navTrigger i {
        background-color: #fff;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
    }

    .navTrigger i:nth-child(1) {
        -webkit-animation: outT 0.8s backwards;
        animation: outT 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .navTrigger i:nth-child(2) {
        margin: 5px 0;
        -webkit-animation: outM 0.8s backwards;
        animation: outM 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .navTrigger i:nth-child(3) {
        -webkit-animation: outBtm 0.8s backwards;
        animation: outBtm 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .navTrigger.active i:nth-child(1) {
        -webkit-animation: inT 0.8s forwards;
        animation: inT 0.8s forwards;
    }

    .navTrigger.active i:nth-child(2) {
        -webkit-animation: inM 0.8s forwards;
        animation: inM 0.8s forwards;
    }

    .navTrigger.active i:nth-child(3) {
        -webkit-animation: inBtm 0.8s forwards;
        animation: inBtm 0.8s forwards;
    }

}



@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}