@import 'config';

.tech {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    background-color: $third-color;
    height: 100vh;
    position: relative;


    &__h1 {
        text-align: center;
        padding-top: 100px;
        font-size: 24px;
        color: $text-color;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4em 0 2em 0;
        margin-top: -40px;

        li {
            /* width: 64px; */
            margin: 5px 10px;
            list-style-type: none;
            background-color: white;
            border-radius: 20%;
            box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.359);

            .icon_v1 {
                width: 40px;
                height: 40px;
            }

            .icon {
                width: 40px;
                height: 40px;
            }
        }
    }

    .float {
        position: relative;
        margin: 0 auto;
        width: 90vw;
        line-height: 10px;
        box-shadow: 0px 0px 20px 0px rgba(28, 28, 28, 0.359);
        border-radius: 20px;
        padding: .5rem;
        visibility: hidden;
    }

    .scroll__float {
        animation: transistionIn5 2s;
        visibility: visible;
    }

    .pdf {
        margin: 10px;
        float: left;
        border-radius: 20%;
        width: 5rem;
        height: 5rem;
    }

    .pdf:hover {
        box-shadow: 2px 2px 2px 2px rgba(28, 28, 28, 0.359);
        cursor: pointer;
    }

    .p__tag {

        text-align: left;
        color: rgb(21, 20, 20);
        font-size: .8rem;
        padding: 5px auto;
        line-height: 1.5rem;
    }
}

.list__icon {
    visibility: hidden;
    position: relative;
}

.scroll__1 {
    animation: transistionIn4 1.2s;
    visibility: visible;
}

.scroll__2 {
    animation: transistionIn4 1.4s;
    visibility: visible;
}

.scroll__3 {
    animation: transistionIn4 1.6s;
    visibility: visible;
}

.scroll__4 {
    animation: transistionIn4 1.8s;
    visibility: visible;
}

.scroll__5 {
    animation: transistionIn4 2s;
    visibility: visible;
}

.scroll__6 {
    animation: transistionIn4 2.2s;
    visibility: visible;
}

.scroll__7 {
    animation: transistionIn4 2.4s;
    visibility: visible;
}

.scroll__8 {
    animation: transistionIn4 2.6s;
    visibility: visible;
}

.scroll__9 {
    animation: transistionIn4 2.8s;
    visibility: visible;
}

.scroll__10 {
    animation: transistionIn4 3s;
    visibility: visible;
}

.scroll__11 {
    animation: transistionIn4 3.2s;
    visibility: visible;
}

.scroll__12 {
    animation: transistionIn4 3.4s;
    visibility: visible;
}

.cert {
    width: 100%;
}

.modal_btn {
    display: block;
    color: white;
    margin: 10px auto;
    background-color: rgb(0, 16, 70);
    width: 5rem;
    padding: 0.7rem;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 0.7rem;
}

.modal {
    outline: none;
    margin-top: 4rem;
}






@media only screen and (min-width: 1024px) {

    .tech {
        &__h1 {
            font-size: 3rem;
        }

        &__container {
            margin-top: 10px;

            li {

                .icon_v1 {
                    width: 5rem;
                    height: 5rem;
                }

                .icon {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }

        .float {
            display: block;
            margin: 2rem auto 0 auto;
            width: 78vw;
            line-height: 20px;
            padding: 2rem;

        }

        .pdf {
            width: 7rem;
            height: 7rem;
            margin: 5px;
        }

        .p__tag {
            font-size: 1.6rem;
            margin: .5rem;
            line-height: 2.5rem;
        }

    }

    .cert {
        width: 50%;
        display: block;
        padding-top: .4rem;
        margin: 0 auto;
    }







}